/******************
    User custom CSS
    ---------------

    In this file you can add your own custom CSS
    It will be loaded last, so you can override any other property.
    Also, it will never be updated. So if you inheritate a core template and just add here some CSS, you'll still benefit of all the updates
*/

/*
--------------------------------------------------------------------------------
Variables
--------------------------------------------------------------------------------
*/

:root {
    --theme-colour: #a5d7d2;
    --eval-color-correct: #99d2a7;
    --eval-color-false: #f597a1;
    --eval-color-missed:  #ffd592;
    --alert-wrong-color: #f00;
}

/*
--------------------------------------------------------------------------------
General CSS
--------------------------------------------------------------------------------
*/

#bootstrap-alert-box-modal {
    opacity: 1 !important;
}

* {
    touch-action: none !important;
    -webkit-touch-callout: none !important;
}

h1, h2, h3, p, span {
    touch-action: none !important;
    -webkit-touch-callout: none !important;
}

body {
    touch-action: none;
    user-select: none;
    user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    /**font-family: Arial !important;**/
    font-family: 'Roboto', sans-serif !important;
}

#page-load-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
    z-index: 100;
}

#unibas-logo {
    position: relative;
    height: 6rem;
    margin: 3rem;
}

#navigator-container {
    padding: 0px !important; 
    height: 0px !important;
    width: 0px !important;
}

.script-container {
    height: 0px;
    width: 0px;
}

.question-text {
    opacity: 0;
    max-width: 100vw;
}

#ls-button-submit {
    display: none;
}

img {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#orientation-alert {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
    z-index: 100;
}

.orientation-img {
    display: none;
    width: 25rem;
    height: 25rem;
    transform: rotate(180deg);
}

/** Skip **/

#skip-alert {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
    z-index: 100;
}

#skip-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 40rem;
    min-height: 40rem;
    background-color: #fff;
    box-shadow: var(--theme-colour) 0px 0px 12px 2px;
    /**transform: rotate(180deg);**/
    font-size: 12pt;
}

#skip-box label {
    margin-top: 1rem;
}

#skip-box textarea {
    width: 100%;
    height: 10rem;
    border-color: #ced4da;
}

#skip-box-buttons {
    margin: 1rem;
    width: 70%;
}

#skip-box-input {
    width: 70%;
}

#skip-alert-wrong-code {
    display: none;
    color: var(--alert-wrong-color);
    width: 50%;
    font-size: 9pt;
    margin-bottom: 1rem;
}

#unfinished-tests {
    color: var(--alert-wrong-color);
    width: 50%;
    font-size: 9pt;
    margin-bottom: 1rem;
}

#skip-alert-no-reason {
    display: none;
    color: var(--alert-wrong-color);
    width: 50%;
    font-size: 9pt;
    margin-bottom: 1rem;
}

#skip-cancel{
    /**background-color: #ccc !important;
    border-color: #ccc !important;**/
    color: #000 !important;
}

#skip-proceed {
    background-color: var(--eval-color-missed) !important;
    border-color: var(--eval-color-missed) !important;
    color: #000 !important;
}

#skip-abort {
    background-color: var(--eval-color-false) !important;
    border-color: var(--eval-color-false) !important;
    color: #000 !important;
}

/** Demographics **/

#demographics-container {
    display: none;
    width: 35rem;
    font-size: 12pt;
}

.answers ul {
    width: max-content;
}

.dc-i {
    margin-bottom: 2rem;
}

#demographics-container input {
    font-size: 10pt;
}

#demographics-container label {
    font-size: 14pt;
}

#options-sex label {
    font-size: 10pt;
}

#demographics-container select {
    font-size: 10pt;
}

/*
--------------------------------------------------------------------------------
CSS for the Test-Menu
--------------------------------------------------------------------------------
*/
#ids-m-menu-box {
    display: none;
    width: 100vw;
    transform: scale(0.7);
    margin-bottom: 8vh;
    flex-flow: wrap row;
    justify-content: space-between;
}

.ids-m-test-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 15rem;
    height: 15rem;
    margin: 1.5rem;
    padding: .2rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
}

@media screen and (max-width: 1024px) {
    .ids-m-test-box {
        width: 15vw;
        height: 14vh;
        margin: 1rem;
    }

    #ids-m-menu-box {
        display: none;
        width: 90vw;
        flex-flow: wrap row;
        justify-content: space-between;
    }
    
}

.test-box-hover:hover {
    box-shadow: 1px 1px 10px 1px #ccc;
    transition: box-shadow 0.3s ease-in-out;
}

.ids-m-test-box label {
    margin: 1rem;
    font-size: 1.6em;
    text-align: center;
}

.ids-m-test-box .filler {
    height: 2rem;
}

.ids-m-test-box p {
    margin: 1.6rem;
    text-align: justify;
    font-size: 1em;
}

.completion-message {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: end;
    width: 90%;
    margin: 0.6rem;
}

.ids-m-menu-box-icon {
    display: none;
    width: 2rem;
    height: 2rem;
}

.bi-check-circle-fill path {
    fill: var(--eval-color-correct);
}

.bi-x-circle-fill path {
    fill: var(--eval-color-false);
}

.break {
    flex-basis: 100%;
    height: 0;
}

/*
--------------------------------------------------------------------------------
Layout for the Motivation Scale
--------------------------------------------------------------------------------
*/

#motivation-scale {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.motivation-scale-item {
    width: 8rem;
    height: 8rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.motivation-scale-item svg {
    width: 4rem;
    height: 4rem;
    fill: var(--eval-color-missed);
}

/*
--------------------------------------------------------------------------------
Layout for the Sketch Book
--------------------------------------------------------------------------------
*/

#sketch-book {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#sketch-container {
    margin-top: 0rem;
    width: 60vw;
    padding: 4rem;
    box-shadow: var(--theme-colour) 0px 0px 12px 2px;
}

#sketch-container h2 {
    line-height: 2;
}

#sketch-container textarea {
    font-size: 13pt;
}

#sketch-button-container {
    margin-top: 1rem;
}

.sketch-btn {
    color: #000 !important;
    margin-right: 1rem;
}

#sketch-book-cancel {
    background-color: var(--eval-color-false) !important;
    border-color: var(--eval-color-false) !important;
}

#sketch-book-comment {
    background-color: var(--eval-color-correct) !important;
    border-color: var(--eval-color-correct) !important;
}


#formular-book {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#formular-container {
    margin-top: 0rem;
    width: 80vw;
    padding: 4rem;
    box-shadow: var(--theme-colour) 0px 0px 12px 2px;
}

@media screen and (max-width: 1024px) {
    #formular-container {
        margin-top: 0rem;
        width: 90vw;
    }

    #horse-button {
        margin-bottom: -10vh;
    }
    
}

#formular-container h2 {
    line-height: 2;
}

#formular-container textarea {
    font-size: 13pt;
}

#formular-button-container {
    margin-top: 1rem;
}

/*
--------------------------------------------------------------------------------
General Layout for Subtests
--------------------------------------------------------------------------------
*/

#test-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#background-banner {
    display: none;
    position: absolute;
    z-index: 0;
    height: 12rem;
    top: calc(100% - 12rem);
    width: 100%;
    background-color: var(--theme-colour);
    overflow: hidden;
}

#tl-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 6rem;
    z-index: 1;
    /*background-color: #99D2A7;*/
}

#tp-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 6rem;
    position: sticky;
}

#item-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 12rem);
    /*background-color: #99DBF7;*/
}

@media screen and (max-width: 1024px) {
    #item-area {
        max-height: 75vh;
    }
}


#instructions {
    transform: rotate(180deg);
}

#center-area {
    width: 30rem;
    height: 15rem;
    /*background-color: #ccc;*/
    position: absolute;
    left: calc((100vw - 30rem)/2);
    top: calc((100vh - 15rem)/2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#question-code {
    display: flex;
    width: 100px;
    height: 6rem;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
    font-size: 9pt;
    
}

.answers {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    transform: scale(1.5);
}

.answers .btn {
    display: table-cell;
    padding: .375rem 1.2rem;;
}

.answers .btn-group {
    display: inline-table;
}

.question-area {
    height: 100%;
    width: 100%;
    position: absolute;
}

#variable-container {
    display: none;
}
/*
--------------------------------------------------------------------------------
Warnings
--------------------------------------------------------------------------------
*/

.warning-container {
    display: none;
    transform: rotate(180deg);
}

#warning-restart {
    font-size: 15pt;
}

/*
--------------------------------------------------------------------------------
Images
--------------------------------------------------------------------------------
*/


/*
--------------------------------------------------------------------------------
Buttons
--------------------------------------------------------------------------------
*/

.btn-unib {
    color: #000 !important;
    background-color: var(--theme-colour) !important;
    border-color: var(--theme-colour) !important;
}

.answers .btn-primary {
    color: #000 !important;
    background-color: var(--theme-colour) !important;
    border-color: var(--theme-colour) !important;
}

.feedback-button {
    display: none !important;
}

.feedback-button svg {
    width: 30px;
    height: 30px;
}

#feedback-button-correct {
    background-color: var(--eval-color-correct) !important;
    border-color: var(--eval-color-correct) !important;
}

#feedback-button-false {
    background-color: var(--eval-color-false) !important;
    border-color: var(--eval-color-false) !important;
}

button svg {
    width: 20px;
    height: 20px;
}

#external-button {
    display: none;
}

#skip-button {
    color: #777;
    background-color: #ddd;
    border-color: #666;
}

#ish-buttons {
    display: none;
}

#ish-buttons svg {
    width: 25px;
    height: 25px;
}

#color-blind-button {
    background-color: var(--eval-color-false);
}

#red-green-colorblind-button {
    background-color: var(--eval-color-missed);
}

#no-colorblind-button {
    background-color: var(--eval-color-correct);
}

#feedback-button {
    display: none;
}

#next-button {
    display: none;
}

#proceed-button {
    display: none;
}

#proceed-button > svg {
    display: none;
}

#tp-response-button {
    display: none;
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
    position: fixed;
    bottom: 0;
    left: 47%;
    z-index: 999999;
}

#horse-button {
    display: none;
    position: absolute;
    bottom: 2rem;
    border: 1px solid #333;
    background-color: fff;
    transform: scale(0.9);
}

#horse-button > img {
    width: 12rem;
    height: 12rem;
}

#tp-response-button > svg {
    width: 25px;
    height: 25px;
}

#play-button > svg {
    width: 25px;
    height: 25px;
}
#play-button {
    display: none;
    margin: auto;
}

#pause-button > svg {
    width: 25px;
    height: 25px;
}
#pause-button {
    display: none;
    margin: auto;
}

#media-play-button > svg {
    width: 25px;
    height: 25px;
}

#media-play-button {
    display: none;
    margin: auto;
}

.basic-button {
    width: 6rem;
    height: 6rem;
    background-color: #ccc;
}

.close-button {
    font-size: x-large;
    border-color: #666;
    background-color: #ddd !important;
}

.formular-button {
    width: 20rem;
    height: 15rem;
    margin-top: 5rem;
    margin-left: 10rem;
    font-size: medium;
    color: black;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 1rem;
}

#buttons-top-left {
    /*width: 6rem;
    height: 6rem;*/
    display: flex;
    flex-direction: row;
}

#buttons-top-middle {
    /*width: 6rem;
    height: 6rem;*/
    display: flex;
    flex-direction: row;
}

#buttons-top-middle .btn-unib {
    margin-right: .7rem !important;
}

#buttons-top-right {
    width: 6rem;
    height: 6rem;
    display: flex;
    flex-direction: row;
}

#sketch-book-button {
    display: none;
}

#formular-book-button {
    display: none;
}

/*
--------------------------------------------------------------------------------
Animations
--------------------------------------------------------------------------------
*/

@keyframes feedback_blink { 
   50% { 
        Background-color: #ffd28b; 
        transform: scale(1.1);
   } 
}
  .feedback-blink{ 
    background-color: rgba(0, 0, 0, 0);
    animation: feedback_blink 1.5s ease-in-out infinite alternate;
}

/*
--------------------------------------------------------------------------------
ME content
--------------------------------------------------------------------------------
*/

#matrix-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#thumbnail-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.me-matrix {
    height: 36rem;
    margin-bottom: 4rem;
}

.me-thumbnail {
    height: 16rem;
    margin: 2rem;
}
/*
--------------------------------------------------------------------------------
VM content
--------------------------------------------------------------------------------
*/

#eval-img {
    display: none;
}

/*
--------------------------------------------------------------------------------
EZLE content
--------------------------------------------------------------------------------
*/

.ezle-img {
    display: none;
}

/*
--------------------------------------------------------------------------------
FS content
--------------------------------------------------------------------------------
*/

.draw-fs {
    position: relative;
    z-index: 30;
}

 .vmImg-fs {
     opacity: 1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    border: 1px solid #ccc;
 }

 .vmImg-overlay {
     -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    position: absolute;
    left: 50%;
    z-index: 0;
 }
 
 .vmImg-overlay-fs {
    display: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    position: absolute;
    z-index: 20;
    border: 1px solid #ccc;
    left: calc(50% + 1px);
 }
 
 .vmImg {
     opacity: 1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
 }

/*
--------------------------------------------------------------------------------
FA content
--------------------------------------------------------------------------------
*/

.draw-fa {
    position: relative;
    z-index: 30;
}

.canvas-fa {
    display: flex;
    flex-direction: column;
}

.canvas-fs {
    display: flex;
    flex-direction: row;
}

 .vmImg-overlay-fa {
     -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    position: absolute;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 20;
 }
 
 #schablone {
     display: none;
 }

 #fa-schablone {
    display: none;
 }
 
 /*
--------------------------------------------------------------------------------
VM Eval content
--------------------------------------------------------------------------------
*/

#eval-container {
    width: 500px;
    height: 500px;
    position: absolute;
}

#field-container {
    
}

.evalImg {
    position: absolute;
    z-index: 10;
}

.evalImg_drawing {
    position: absolute;
    z-index: 20;
}

.evaluation-field {
    position: absolute;
    z-index: 50;
}

.evaluation-field-b {
    position: absolute;
    border: 1px solid #000;
    z-index: 10;
}
 
/*
--------------------------------------------------------------------------------
FN content
--------------------------------------------------------------------------------
*/

.fn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.fnImg {
    width: 56rem;
    transform: scale(0.8);
}

.pre-img {
    height: 10rem;
}

#fn-canvas-container {
    border: 1px solid #ccc;
    max-width: 902px;
    max-height: 722px;
    margin-top: -10vh;

}

#fn-thumbnails {
    position: absolute;
    bottom: 0rem;
    z-index: 1;
}


@media screen and (max-width: 768px) {

    #fn-canvas-container {
        border: 1px solid #ccc;
        left: 0;
        max-width: 90vw;
    }

    #item-area svg path {
    }


    .fnImg {
        margin-top: 5vh;
        max-width: 50vw;
    }
    
    

    #item-area {
        max-width: 100vw;
    }

    
}

/*
--------------------------------------------------------------------------------
TFZ content
--------------------------------------------------------------------------------
*/

.tfz-img-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: scale(0.8);
}

.tfz-answer-container {
    width: 86rem;
    transform: scale(0.8);
    margin-left: 15vw;
    margin-top: -13vh;
}

.tnRadio {
    cursor: pointer;
    margin: 2rem;
    width: 390px;
    height: 120px;
    float: left;
}

.tnRadio-demo {
    cursor: pointer;
    margin: 2rem;
    width: 390px;
    height: 120px;
    float: left;
}

.tierfarben-img {
    width: 38rem;
}

.tierfarben-img-demo {
    width: 28rem;
}

/*
--------------------------------------------------------------------------------
AA content
--------------------------------------------------------------------------------
*/

#animal-sounds {
    display: none;
}

.sd_table {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: scale(0.9);
    margin-top: -5vh;
}

.aa_img {
    margin: 1rem;
    width: 55px;
    height: 55px;
}

.sd_img {
    /**padding: 1rem;**/
}

.sd_arrow {
    width: 94%;
    margin: 3rem;
}

.slide {
    display: none;
    position: absolute;
    width: 1215px;
    height: 800px;
}

#slides {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*
--------------------------------------------------------------------------------
SF content
--------------------------------------------------------------------------------
*/

.sf-img {
    width: 8rem;
    height: 8rem;
}

.custom-answer-block-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.custom-answer-block-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.custom-answer-block-2 {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.custom-answer-block-4 {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

/*
--------------------------------------------------------------------------------
Arrow Animation for SF and AA
--------------------------------------------------------------------------------
*/

#arrow-container {
    width: 85rem;
    height: 8.5rem;
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: start;
}

#ids-m-arrow-svg {
    width: 100%;
}

#arrow-head {
    transform: translateX(-32px);
}

.cls-1,.cls-2 {
    fill: #231f20;
}

#line1 {
    stroke: #231f20;
    stroke-miterlimit: 10;
    stroke-width: 24px;
    stroke-linecap: round;
}
#line2 {
    stroke: #231f20;
    stroke-miterlimit: 10;
    stroke-width: 24px;
    stroke-linecap: round;
    stroke-dasharray: 620;
    stroke-dashoffset: 620;
}

.path {
    stroke-dasharray: 620;
    stroke-dashoffset: 620;
    animation: dash 3.5s cubic-bezier(0.7, 0, 0.5, 1);
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.arrow-move {
    animation: arrow-move 3.5s cubic-bezier(0.7, 0, 0.5, 1);
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes arrow-move {
    to {
        transform: translateX(590px);
    }
}

/*
--------------------------------------------------------------------------------
FW content
--------------------------------------------------------------------------------
*/

#fw-answer-block {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    flex-flow: wrap;
}

.img-box {
    padding:1rem;
    border-radius: 2rem;
    margin: .5rem;
}

.figuren_img {
    height: 130px;
    margin: auto;
 }
 
 .fw-target {
     display: none;
 }
 
.fwFigures {
    height: 13rem;
 }
 
.fn_answers td {
    max-height: 160px;
 }

 /*adaptive stuff*/
 #fw-targets {
    display: flex;
    justify-content: center; 
    align-items: center; 
 }

 #fw-options {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    flex-flow: wrap;
 }

 .fwTargets {
    margin: 2rem;
 }
 
/*
--------------------------------------------------------------------------------
RE content
--------------------------------------------------------------------------------
*/

#sun-img {
    position: absolute;
    top: calc((100% - 5rem)/2);
    left: calc((100% - 5rem)/2);
    z-index: 1;
}

#crossair {
    position: absolute;
    top: calc((100% - 5rem)/2);
    left: calc((100% - 5rem)/2);
    width: 5rem;
    height: 5rem;
    z-index: 0;
}

#vertical-line {
    width: 2px;
    height: 100%;
    background-color: #ccc;
    margin-left: calc(2.5rem - 1px);
}

#horizontal-line {
    height: 2px;
    width: 100%;
    background-color: #ccc;
    margin-top: -2.5rem;
}

/*
--------------------------------------------------------------------------------
PPVT content
--------------------------------------------------------------------------------
*/

.ppvt-img {
    margin: 5rem;
    width: 375px;
    height: 250px;
}

#ppvt-variable-container {
    display: none;
}

/*
--------------------------------------------------------------------------------
ISH content
--------------------------------------------------------------------------------
*/

.ish-img {
    width: 60rem;
}

/*
--------------------------------------------------------------------------------
MT content
--------------------------------------------------------------------------------
*/

.mt-table th {
    font-size: 8pt;
    width: 20rem;
    height: 5rem;
    padding: 6px;
}

.radio {
    display: inline-block;
}

.td-MT {
    text-align: center;
}

.tr-MT {
    padding: .6rem;
    border-bottom: solid 1px;
}


@media screen and (max-width: 1024px) {
    .lou-img {
        width: 20vw !important;
        height: 20vw !important;
    }

    #tp-area {
        position: absolute;
        width: 100vw;
        bottom: 0;
    }

    #tl-area {
        z-index: 1;
    }
    
    #canvas-container {
        z-index: 5;
        position: relative;
        margin-bottom: 2vh;
    }
    
    
}