<div id="demographics-container">
	<div class="dc-i">
    <label class="form-label">Code</label>
    <input type="number" class="form-control" id="tp-code" aria-describedby="emailHelp">
  </div>
  <div class="dc-i">
    <label class="form-label">Geschlecht</label>
    <select class="form-select" id="tp-gender" aria-label="Default select example">
    	<option hidden disabled selected value>-</option>
	  <option value="male">Männlich</option>
	  <option value="female">Weiblich</option>
	  <option value="other">Anderes</option>
	</select>
  </div>
  <div class="dc-i">
    <label class="form-check-label" for="exampleCheck1">Geburtsdatum</label>
    <input type="date" class="form-control" id="tp-birthdate">
  </div>
</div>