<div id="formular-book">
	<div id="formular-container">
		<div id="formular-button-container">
			<button type="button" id="formular-book-cancel" class="btn sketch-btn basic-button close-button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
	  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
	  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
	</svg></button>
		</div>
		<h1><center>Einverständniserklärungen:</center></h1>
		<button type="button" id="formular-proband" class="btn formular-button" onclick="window.open('https://form.psychologie.unibas.ch/public/schriftliche-einwilligungserklarung-zur-teilnahme-eltern')"><strong>Formular Eltern (<14)</strong></button>
		<button type="button" id="formular-eltern" class="btn formular-button" onclick="window.open('https://form.psychologie.unibas.ch/public/schriftliche-einwilligungserklarung-zur-teilnahme-probanden')"><strong>Formular Proband (>14)</strong></button>
	</div>
</div>