<div id="sketch-book">
	<div id="sketch-container">
		<h2>Notizen zu <span id="sketch-book-test-code"></span>:</h2>
		{{ include('./subviews/content/motivation-scale.twig') }}
		<textarea class="form-control" id="sketch-book-textarea" rows="8"></textarea>
		<!-- some Buttons -->
		<div id="sketch-button-container">
			<button type="button" id="sketch-book-cancel" class="btn sketch-btn basic-button">Cancel</button>
			<button type="button" id="sketch-book-comment" class="btn sketch-btn basic-button">Comment</button>
		</div>
	</div>
</div>