<div id="orientation-alert">
	<img id="orientation-img-h" class="orientation-img" src="{{ processString("{TEMPLATEURL}") }}files/orientation-horizontal.jpg">
	<img id="orientation-img-v" class="orientation-img" src="{{ processString("{TEMPLATEURL}") }}files/orientation-vertical.jpg">
</div>