<div id="skip-alert">
	<div id="skip-box">
		<div id="skip-box-input">
			<label class="form-label">Code</label>
			<input id="skip-box-input-code" class="form-control" type="text" aria-label="default input example">
		<!--
			<label class="form-label">Password</label>
			<input id="" class="form-control" type="Password" aria-label="default input example">
		-->
		</div>
		<div id="skip-box-buttons">
			<button type="button" id="skip-cancel" class="btn btn-unib basic-button">Cancel</button>
			<button type="button" id="skip-proceed" class="btn btn-unib basic-button">Skip Test</button>
			<button type="button" id="skip-abort" class="btn btn-unib basic-button">Abort IDS-M</button>
		</div>
		<span id="skip-alert-wrong-code">Der eingegebene Code stimmt nicht mit dem Code der Versuchsperson überein!</span>
	</div>
</div>